body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center; }

main {
  width: 100%;
  min-height: 100%;
  background-color: orange; }

a {
  text-decoration: none;
  color: inherit; }

.meta span {
  border-radius: 3px;
  padding: 5px 15px;
  color: white;
  background-color: #5E7CE7;
  font-size: 14px; }

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.first-part {
  background: url(backgrounds/cranes.jpg); }

.second-part {
  background: url(backgrounds/1.jpg); }

.first-part__container {
  width: 800px;
  padding-bottom: 20px; }

.second-part__container {
  width: 800px;
  padding-bottom: 10px; }

header {
  display: flex;
  width: 100%;
  background-color: white;
  height: 100px;
  border-bottom: darkblue 5px solid;
  justify-content: center; }
  header a:hover {
    text-decoration: underline; }
  header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
  header .left {
    flex-direction: column;
    margin-top: 40px;
    width: 380px;
    height: 50%;
    margin-right: 22px; }
  header .nav-bar {
    width: 100%;
    height: 40%;
    justify-self: flex-end;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color: #7f8897; }
    header .nav-bar i {
      margin-top: 8px;
      width: 2px;
      height: 2px;
      background-color: blue; }
  header .menu {
    margin-top: 10px;
    width: 100%;
    height: 40%;
    font-family: sans-serif;
    font-weight: bold; }
  header .right {
    margin-top: 40px;
    width: 380px;
    height: 50%;
    margin-left: 22px; }
    header .right .phone {
      color: black;
      font-size: 18px; }
  header .callback {
    width: 100%;
    height: 40%; }

.region {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.region__elem {
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 370px;
  height: 200px;
  background-image: url(images/pristro.jpg);
  background-size: cover;
  background-position: center; }
  .region__elem p {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 2px;
    transition: all 1s; }
  .region__elem .region__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: all 1s; }
    .region__elem .region__name .meta {
      margin-bottom: 0; }
      .region__elem .region__name .meta span {
        font-size: 10px; }
  .region__elem:hover p {
    margin-top: 10px; }
  .region__elem:hover .region__name {
    display: flex;
    flex-direction: column;
    height: 50%;
    border-bottom: white 2px solid; }
  .region__elem:hover .hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    opacity: 1; }
    .region__elem:hover .hidden .region_date {
      font-size: 12px;
      color: #C2CDEC; }

.hidden {
  opacity: 0;
  height: 0;
  transition: all 1s;
  pointer-events: none; }

.region__elem__last {
  width: 780px;
  border-bottom: 5px darkblue solid; }

.about {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 250px;
  align-items: stretch; }

.about__content {
  width: 60%;
  background-color: transparent; }

.about__slider {
  width: 37%;
  background-color: transparent; }
  .about__slider .image {
    position: relative;
    width: 100%;
    height: 100%; }
  .about__slider p {
    position: relative;
    text-align: center;
    top: -180px;
    width: 100%;
    text-transform: uppercase;
    font-size: 23px; }
  .about__slider .border {
    position: relative;
    top: -341px;
    width: 288px;
    height: 188px;
    left: 2px;
    border: white 2px solid; }

.news {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

.news__block {
  width: 250px;
  height: 350px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.news__image {
  height: 64%;
  background-color: gold;
  border-bottom: darkblue 2px solid; }

.news__content {
  height: 35%;
  background: transparent; }

.programs {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

.programs__block {
  width: 390px;
  height: 200px;
  background-color: grey; }
  .programs__block .image {
    position: relative; }
  .programs__block p {
    position: relative;
    top: -200px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 25px; }
  .programs__block .box {
    opacity: 0;
    transition: all 1s; }
  .programs__block:hover .box {
    position: relative;
    border: white 2px solid;
    box-sizing: border-box;
    width: 97%;
    height: 95%;
    top: -385px;
    left: 6px;
    opacity: 1; }

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #252E35;
  border-top: grey 5px solid;
  align-items: center;
  color: #A5ABB7; }
  footer p {
    color: white; }
  footer ul {
    list-style-type: none; }
    footer ul li {
      margin: 5px auto; }
  footer .footer-container {
    display: flex;
    width: 800px;
    height: auto;
    justify-content: space-between; }
  footer .footer__block {
    width: 23%;
    height: 100%; }
  footer .title {
    font-weight: bolder; }
  footer .footer-bottom {
    border-top: 1px grey solid; }
    footer .footer-bottom p {
      color: #656D79; }

.footer-bottom__left-block {
  padding-left: 0; }

.footer-bottom__right-block {
  text-align: right;
  padding-left: 5px; }

.phone {
  font-family: ProximaNovaExCn-Bold, sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 22px; }

.image {
  position: relative;
  width: 100%;
  height: 100%; }

.region__info__left {
  margin-right: 50px; }

.info_text {
  font-size: 10px;
  font-weight: bold;
  color: #C2CDEC; }

/*# sourceMappingURL=style.css.map */
